<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pay My Buddy Web Interface (transfer)</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">

</head>
<body>
	<section class="navigation">
		<nav class="navbar justify-content-between py-2">
			<div>
				<a class="navbar-brand fw-bold px-3">
					<button type="button" class="btn btn-success" id="greenButton">Pay
						My Buddy</button>
				</a>
			</div>
			<nav class="navbar navbar-expand navbar-light">
				<div class="container">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link fw-bold" href="/home">Home</a>
						</li>
						<li class="nav-item active"><a
							class="nav-link text-primary fw-bold" href="/transfer">Transfer</a>
						</li>
						<li class="nav-item "><a class="nav-link fw-bold"
							href="/profile">Profile</a></li>
						<li class="nav-item"><a class="nav-link fw-bold"
							href="/contact">Contact</a></li>
						<li class="nav-item"><a class="nav-link fw-bold"
							href="/logout">Log out</a></li>
					</ul>
				</div>
			</nav>
		</nav>
	</section>

	<section class="path">
		<div class="container-fluid bg-light py-2">
			<div class="row d-flex ">
				<div class="col-1 text-primary px-5">Home</div>
				<div class="col-1 text-primary px-5">/</div>
				<div class="col-1 text-dark">Transfer</div>
			</div>
		</div>
	</section>

	<div class="py-2"></div>
	<section class="title container col-11 pt-5">
		<div class="row">



			<p class="h4 col-9 text-dark fw-bold px-3">Send Money</p>

			<div class="col-3 ">
				<a type="button" class="btn btn-primary mb-2"
					id="addConnectionButton" href="/profile#addfriendlink"
					role="button">Add Connection</a>
			</div>
		</div>
	</section>

	<section class="infos col-10 container bg-light border border-dark">
		<form th:object="${transferForm}" th:action="@{/transfer}"
			method="post">
			<div class="row pt-4 ">
				<div class="col input-group pt-5 ">

					<select class="form-select mb-1" th:field="*{recipient}"
						name="recipient" required id="selectConnection">
						<option value="0" selected>Select a Connection</option>
						<option th:each="connection: ${connectionsList}"
							th:value="${connection.userAccount.email}"
							th:text="${connection.lastname +' '+ connection.firstname+' ' +' ('+connection.userAccount.email + ')'}"></option>
					</select> <span class="has-errors" th:if="${#fields.hasErrors('recipient')}"
						th:errors="*{recipient}"></span>
				</div>
				<div class=" col input-group mb-1 d-flex flex-row m-auto ">
					<div class="input-group-prepend">
						<span class="input-group-text py-2" id="inputGroup-sizing-default">Amount
							:</span>
					</div>
					<input type="text" class="form-control text-end" th:field=*{amount}
						aria-label="Default" aria-describedby="inputGroup-sizing-default"
						min="1" required> <span class="has-errors"
						th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
					<div class="select currency">
						<select class="custom-select custom-select-sm pb-3"
							th:field="*{currency}" required>
							<option th:value="'$'" th:text="USD"></option>
							<option th:value="'€'" th:text="EUR"></option>
						</select>
					</div>
				</div>

				<div class="col-3 m-auto">
					<button type="submit"
						onclick="return confirm('Are you sure that you want to make this transfer?')"
						name="transfer" class="btn btn-success" id="payButton">Pay</button>
				</div>

			</div>
			<div class="row2 d-flex flex-row py-5">
				<div class="col-7 form-group m-auto ">
					<input type="text" th:field="*{description}"
						class="form-control pb-5" id="formGroupExampleInput"
						placeholder="Description...">
				</div>


			</div>
		</form>
	</section>

	<section class="transactions container col-11 ">
		<p class="h4 text-dark fw-bold pt-5">My Transactions</p>

		<div class="container " style="line-height: 5">

			<table
				class="table table-striped text-center border border-dark py-0">
				<thead>
					<tr class="text-white" id="greenbar">
						<th>From</th>
						<th>To</th>
						<th>Description</th>
						<th>Amount</th>
						<th>Currency</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody class="text-bold">
					<tr th:each="transfert: ${transfertsPages}">
						<td
							th:text="${transfert.sourceUser.lastname +' '+ transfert.sourceUser.firstname}"></td>
						<td
							th:text="${transfert.recipient.lastname + ' ' + transfert.recipient.firstname}"></td>
						<td th:text="${transfert.description}"></td>
						<td th:text="${transfert.amount}"></td>
						<td th:text="${transfert.currency}"></td>
						<td th:text="${#dates.format(transfert.date, 'dd/MM/yyyy')}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<div class="row">
		<ul class="nav nav-pills d-flex justify-content-center py-2">
			<li th:each="page, status:${pages}"><a
				th:class="${status.index == currentPage?'btn btn-success ms-2':'btn btn-outline-success ms-2'}"
				th:text="${status.index}"
				th:href="@{transfer(page=${status.index})}"></a></li>
		</ul>
	</div>


	<section class="deposit container col-11">
		<p class="h4 text-dark fw-bold pt-5">My Deposits</p>

		<div class="container" style="line-height: 5">

			<table class="table table-striped text-center  border border-dark">
				<thead>
					<tr class="text-white bold" id="greenbar">
						<th>IBAN</th>
						<th>User</th>
						<th>Description</th>
						<th>Amount</th>
						<th>Currency</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="deposit: ${depositsPages}">
						<td th:text="${deposit.bankAccountIBAN}"></td>
						<td
							th:text="${deposit.sourceUser.lastname +' '+ deposit.sourceUser.firstname}"></td>
						<td th:text="${deposit.description}"></td>
						<td th:text="${deposit.operator +' '+ deposit.amount}"></td>
						<td th:text="${deposit.currency}"></td>
						<td th:text="${#dates.format(deposit.date, 'dd/MM/yyyy')}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<div class="row">
		<ul class="nav nav-pills d-flex justify-content-center py-2">
			<li th:each="pageDeposit, status:${pagesDeposit}"><a
				th:class="${status.index == currentPageDeposit?'btn btn-success ms-2':'btn btn-outline-success ms-2'}"
				th:text="${status.index}"
				th:href="@{transfer(pageDeposit=${status.index})}"></a>

			</li>
		</ul>
	</div>


	<!-- == Footer == -->

	<div class="footer container py-5">
		<div class="container py-5">
			<footer
				class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
				<div class="col-md-4 d-flex align-items-center">
					<a href="/"
						class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
						<svg class="bi" width="30" height="24">
							<use xlink:href="#bootstrap" /></svg>
					</a> <span class="text-muted">&copy; 2023 Pay My Buddy, Inc</span>
				</div>

				<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
					<li class="ms-3 fa-lg"><a href=”mon lien
						twitter” target=”_blank”> <i
							class="bi bi-twitter text-dark fa-lg"></i>
					</a></li>
					<li class="ms-3 fa-lg"><a href=”mon lien
						linkedin” target=”_blank”> <i
							class="bi bi-instagram text-dark fa-lg"></i>
					</a></li>
					<li class="ms-3 fa-lg"><a href=”mon lien
						linkedin” target=”_blank”> <i
							class="bi bi-discord text-dark fa-lg"></i>
					</a></li>
				</ul>
			</footer>
		</div>
	</div>
</body>
</html>